/* Fonts */
	@font-face {
		font-family:				'minecraft';
		src:					url(../fonts/mcru.ttf);
	}

	@font-face {
		font-family:				'minetitle';
		src:					url(../fonts/mctit.ttf);
	}

/* Semantic Elements */
	html {
		text-align:				center;
		font:					13px minecraft, monospace;
		color:					white;
	}

	body {
		background:				linear-gradient(#0000,#000a),url(../img/dirt.png),repeat;
		background-size:			80px;
		background-attachment:			fixed;
	}

	footer {
		margin:					2em auto !important;
		background-color:			#000a;
		width:					40vw !important;
	}

	details summary {
		list-style:				none;
	}

	details summary span.show {
		display:				none !important;
	}

	details[open] summary span {
		display:				none;
	}

	details[open] summary span.show{
		display:				inline !important;
	}

	a,
	em {
		text-decoration:			none;
		color:					yellow !important;
		font-style:				normal;
		text-shadow:				1px 1px #3F3F00;
	}

	time {
		font:					2em minetitle, monospace;
		font-weight:				bold;
		color:					yellow;
		text-shadow:				3px 3px #3F3F00;
	}

	strong {
		color:					red;
		text-shadow:				1px 1px #3F003F;
	}

/* Classes */
	.window {
		margin:					2em auto;
		border-radius:				15px;
		width:					60vw;
		box-shadow:				1em 1em 1em #000a;
		padding:				1em;
		text-shadow:				1px 1px #000a;
	}

		.window img {
			filter:					drop-shadow(0 0 0.75rem #000a);
			width:					50%;
		}

/* IDs */
	#birchforest {background:linear-gradient(#0008,#0008),url(../img/birch-bg.png);background-size:cover;background-position:center;}
	#caves1 {background:linear-gradient(#0008,#0008),url(../img/cnc1-bg.png);background-size:cover;background-position:center;}
	#caves2 {background:linear-gradient(#0008,#0008),url(../img/cnc2-bg.png);background-size:cover;background-position:center;}
	#biome19 {background:linear-gradient(#0008,#0008),url(../img/b19-bg.png);background-size:cover;background-position:center;}
	#combattest {background:linear-gradient(#0008,#0008),url(../img/combat-bg.png);background-size:cover;background-position:center;}
	#fletchingtable {background:linear-gradient(#0008,#0008),url(../img/fletch-bg.jpg);background-size:cover;background-position:center;}
	#biome18 {background:linear-gradient(#0008,#0008),url(../img/b18-bg.jpg);background-size:cover;background-position:center;}
	#modsupport {background:linear-gradient(#0008,#0008),url(../img/mod-bg.png);background-size:cover;background-position:center;}
	#hurtanim {background:linear-gradient(#0008,#0008),url(../img/hurt-bg.png);background-size:cover;background-position:center;}

/* Responsive Design */
	@media screen and (max-width: 725px) {
		time {font-size:2em;}
		footer {width:70vw !important;}
		.window {width:90vw;}
	}
