/* Fonts */
	@font-face {
		font-family:				'minecraft';
		src:					url(../assets/fonts/mcru.ttf);
	}

	@font-face {
		font-family:				'minetitle';
		src:					url(../assets/fonts/mctit.ttf);
	}

/* Semantic Elements */
	html {
		text-align:				center;
		font:					13px minecraft, monospace;
		color:					white;
	}

	body {
		background:				linear-gradient(#0000,#000a),url(../assets/dirt.png),repeat;
		background-size:			80px;
		background-attachment:			fixed;
	}

	footer {
		margin:					2em auto !important;
		background-color:			#000a;
		width:					40vw !important;
	}

	details {
		background: linear-gradient(#0007, #000c), var(--background);
		background-size: cover;
	}

	details summary {
		list-style:				none;
		animation:				none !important;
		display: flex;
		flex-direction: column;
	}

	details[open] *|*:not(summary *) {
		animation:				open 0.25s;
		backdrop-filter: blur(.5);
	}

		@keyframes open {
			from{opacity:0; transform:translateY(-10px);}
			to{opacity:1; transform:translateY(0);}
		}

	details summary span.show {
		display:				none !important;
	}

	details[open] summary span {
		display:				none;
	}

	details[open] summary span.show{
		display:				inline !important;
	}

	a,
	em {
		text-decoration:			none;
		color:					yellow !important;
		font-style:				normal;
		text-shadow:				1px 1px #3F3F00;
	}

	time {
		font:					2em minetitle, monospace;
		font-weight:				bold;
		color:					yellow;
		text-shadow:				3px 3px #3F3F00;
	}

	strong {
		color:					red;
		text-shadow:				1px 1px #3F003F;
	}

/* Classes */
	header {
		position:				absolute;
		animation:				pop 0.60s infinite;
		filter:					drop-shadow(0 0 0.75rem #000);
		top:					0%;
		width:					99%;
		font-size:				1.25em;
	}

	@keyframes pop {
		from {transform:scale(0.95)}
		50% {transform:scale(1)}
		to {transform:scale(0.95)}
	}

	.window {
		margin:					2em auto;
		border-radius:				15px;
		width:					60vw;
		box-shadow:				1em 1em 1em #000a;
		padding:				1em;
		text-shadow:				1px 1px #000a;
		position:				relative;
		overflow:				show;
	}

		.window img {
			filter:				drop-shadow(0 0 0.75rem #000a);
			width:				50%;
		}
	
	.fixed {
		animation:				pop 0.60s infinite;
		position:				absolute;
		top:					0%;
		right:					-5%;
		font-size:				2em;
		rotate:					25deg;
	}

/* Responsive Design */
	@media screen and (max-width: 725px) {
		time {font-size:2em;}
		footer {width:70vw !important;}
		.window {width:90vw;}
		.fixed {right: 0%;}
	}

/* Accessibility */
	@media screen and (prefers-reduced-motion) {
		* {
			transition: none !important;
			animation: none !important;
		}
	}
